@keyframes fadeInAndOut {
  0% {
    opacity: 0;
    visibility: visible;
  }
  20% {
    opacity: 1;
    visibility: visible;
  }
  80% {
    opacity: 1;
    visibility: visible;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes dropIn {
  0% {
    margin-top: -10px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}