.badge-container {
  height: 22px;
  width: fit-content;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;

  .badge-content {
    font-size: 12px;
    padding: 8px;
  }

  &.gray {
    background-color: $sand;

    .badge-content {
      color: $sand-xxxdark;
    }
  }

  &.green {
    background-color: $green-xlight;

    .badge-content {
      color: $green-dark;
    }
  }

  &.blue {
    background-color: $blue-xlight;

    .badge-content {
      color: #599bc0;
    }
  }

  &.yellow {
    background-color: $yellow-dark;

    .badge-content {
      color: $yellow-xxxdark;
    }
  }

  &.fixed-width {
    width: 48px;
  }
}
