@import "./utils.scss";

$checkbox-height: 28px;

input.checkbox {
  position: absolute;
  margin: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;

  + *::before {
    margin-right: 0.75em;
    flex: 0 0 $checkbox-height;
    line-height: 100%;
    content: "";
    padding: 5px;
    display: inline-block;
    height: $checkbox-height;
    background-color: $sand;
    border-radius: 4px;
  }

  &:checked + *::before {
    background-color: $purp;
    border-color: $purp;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='check' viewBox='0 0 24 24' aria-hidden='true' focusable='false' %3E%3Cpath fill='none' stroke='#{url-encoded-color($sand)}' stroke-width='3' d='M1.73 12.91l6.37 6.37L22.79 4.59' /%3E%3C/svg%3E");
  }
}

.checkbox-label {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.checkbox-label.with-note {
  align-items: flex-start;
}
.checkbox-label-primary {
  display: flex;
  flex-wrap: wrap;
  min-height: $checkbox-height;
  line-height: 18px;
  align-items: center;
  font-size: $sans-size-s;
}
