.credit-status-balance.background-container-inner {
  padding-bottom: 30px;
  padding-top: 25px;
  border-bottom: 2px solid $sand;
}

.term-due-date {
  font-size: $sans-size-xs;
  margin: 32px 0 6px;

  .icon {
    display: inline-block;
    height: 18px;
    margin: 0 6px 3px 0;
    vertical-align: middle;
    width: 18px;
  }
}

.credit-status-header {
  display: flex;
  justify-content: space-between;
}

.pool-link {
  display: inline-block;
  border-radius: 3px;
  height: 22px;
  margin: -4px 0;
  padding: 5px;
  width: 22px;
  vertical-align: top;

  &:hover {
    background-color: $sand;

    .icon path {
      fill: $purp-dark;
    }
  }

  .icon {
    display: inline-block;
    height: 12px;
    width: 12px;
    vertical-align: top;
  }

  .icon path {
    fill: $sand-xdark;
  }
}

@media only screen and (min-width: $screen-l) {
  .term-due-date {
    font-size: $sans-size-s;
    margin: 40px 0 10px;

    .icon {
      height: 21px;
      margin: 0 10px 4px 0;
      width: 21px;
    }
  }

  .pool-link {
    border-radius: 6px;
    height: 30px;
    margin: -6px 0;
    padding: 8px;
    width: 30px;

    .icon {
      height: 14px;
      width: 14px;
    }
  }
}
