.deposit-status.background-container-inner {
  margin-bottom: 25px;
  padding: 16px 0 36px;
}

.deposit-status {
  border-bottom: 2px solid $sand;
  position: relative;
}

.deposit-status-item {
  display: inline-block;
  text-align: center;
  width: 100%;

  .deposit-status-item-flex {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      margin-left: 7px;
      cursor: pointer;

      &:hover {
        path {
          fill: $purp-dark;
        }
      }
    }
  }

  .deposit-status-sub-item-flex {
    display: flex;
    align-items: baseline;
    justify-content: center;

    svg {
      padding-top: 2px;
      margin-left: 7px;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  ~ .deposit-status-item {
    margin-top: 36px;
  }

  .label {
    font-size: $sans-size-xs;
  }

  .value {
    font-size: $sans-size-xl;
    margin: 6px 0 0;
    width: 100%;
  }

  .sub-value {
    color: $blue;
    font-size: $sans-size-s;
    margin: 10px 0 0;
  }

  .disabled {
    color: $sand-xxdark;
  }
}

.placeholder .deposit-status .deposit-status-item .deposit-status-item-flex svg:hover {
  path {
    fill: #c4beb7;
  }
}

.placeholder .deposit-status .label,
.placeholder .deposit-status .value,
.placeholder .deposit-status .sub-value {
  color: $sand-xxdark;
}

@media only screen and (min-width: 480px) and (max-width: $screen-m), only screen and (min-width: 750px) {
  .deposit-status.background-container-inner {
    margin-bottom: 30px;
    padding: 8px 0 32px;
  }

  .deposit-status-item {
    width: 50%;

    ~ .deposit-status-item {
      margin-top: 0px;
    }

    .sub-value {
      margin: 12px 0 0;
    }
  }
}

@media only screen and (min-width: $screen-m) {
  .deposit-status.background-container-inner {
    padding: 3px 0 32px;
  }
}

@media only screen and (min-width: $screen-l) {
  .deposit-status.background-container-inner {
    padding: 6px 0 40px;
  }

  .deposit-status-item {
    .label {
      font-size: $sans-size-s;
    }

    .value {
      font-size: $sans-size-xxl;
      margin: 8px 0 0;
    }

    .sub-value {
      font-size: $sans-size-m;
      margin: 16px 0 0;
    }
  }
}
