.devTools {
  background: linear-gradient(15deg, $purp-dark 50%, $purp-light 50.1%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  box-shadow: -20px 14px 54px rgba(0, 0, 0, 0.55);
  border-radius: 5px;
  color: $sand-light;
  font-size: $sans-size-xs;
  transition: width 0.2s, height 0.2s, transform 0.2s;

  width: 20px;
  height: 200px;
  bottom: 10px;
  right: 10px;
  writing-mode: vertical-rl;
}

.devTools:hover {
  cursor: pointer;
}

.devTools.open {
  cursor: default;

  bottom: 10px;
  writing-mode: horizontal-tb;
  margin: 0 auto;
  width: 50%;
}

.devTools .icon {
  display: inline-block;
  height: 12px;
  width: 12px;
  vertical-align: top;
}

.devTools .content-container {
  border-radius: 10px;
  margin: 0px 0 0px 0px;
  padding: 30px;
  width: 100%;
  height: 100%;
  .header {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: $sans-size-s;

    .close {
      border-radius: 6px;
      height: 30px;
      margin: -6px 0;
      padding: 8px;
      width: 30px;
      background-color: white;
    }
  }

  .actions {
    margin-top: 30px;
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    button {
      font-size: $sans-size-xs;
      height: auto;
      padding: 10px;
    }
  }
}
