.drawdown-form {
  .currency-dropdown {
    display: inline-block;
    width: 5em;

    .dropdown-selected {
      display: inline-flex;
      border: none;
      margin: 0;
    }

    .dropdown-list {
      width: 100%;
      left: 0;
    }
  }
}
