.dropdown {
  display: inline;
  position: relative;
}

.dropdown-selected {
  cursor: pointer;
  display: flex;
  width: 100%;
  padding: 12px 4px;
  justify-content: space-between;
  margin: 0 0 0 5px;

  .dropdown-arrow {
    &:after {
      border-left: 0.25em solid transparent;
      border-right: 0.25em solid transparent;
      border-top: 0.4em solid $purp-dark;
      content: "";
      display: inline-block;
      height: 0;
      margin: 0 0 3px 5px;
      transition: border 0.1s ease;
      width: 0;
    }
  }

  &:hover {
    color: $purp-light;

    &:after {
      border-top: 0.4em solid $purp-light;
    }
  }
}

.dropdown-list {
  background-color: $sand-xlight;
  box-shadow: 0px 0px 25px rgba(180, 173, 167, 0.45);
  font-size: $sans-size-s;
  font-weight: 400;
  left: -5px;
  margin: 14px 0 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.dropdown-list-item {
  cursor: pointer;
  padding: 16px;

  .dropdown-amount {
    color: $sand-xxdark;
    float: right;
    font-size: $sans-size-xs;
    margin: 2px 0 0;
  }

  &:hover {
    background-color: $sand-light;
  }

  &.selected {
    background-color: $sand;
  }

  & ~ .dropdown-list-item {
    border-top: 1px solid $sand;
  }
}

@media only screen and (min-width: 400px) {
  .dropdown-list {
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 100%;
    width: 300px;
  }
}
