footer {
  font-size: $sans-size-xs;
  margin: 0 auto;
  max-width: 1280px;
  padding: 24px;

  @media screen and (min-width: $screen-tablet) {
    padding: 24px 40px;
  }
}

.footer {
  &-content {
    nav {
      display: flex;
      justify-content: center;

      @media screen and (min-width: $screen-phone-l) {
        justify-content: flex-start;
      }
    }

    @media screen and (min-width: $screen-phone-l) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    a {
      font-family: "Inter", sans-serif;
      text-decoration: none;
      font-size: 14px;
      line-height: 20px;
      margin-left: 16px;
      color: $sand-700;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
