footer {
  font-size: $sans-size-xs;
  padding: 30px 0;

  a {
    color: $sand-xxdark;
  }

  a:hover {
    color: $purp;
  }

  .divider {
    color: $sand-xxdark;
    margin: 0 7px;
  }

  .icon {
    margin: -3px 2px -1px -2px;
    vertical-align: middle;
    width: 18px;

    path{
      fill: $sand-xxdark;
    }
  }

  a:hover .icon path{
    fill: $purp;
  }

  .outbound-link{
    display: block;
  }

  .section-separator{
    border-top: 2px solid $sand;
    display: block;
    margin: 7px 0 13px;
    width: 100%;
  }
}

@media only screen and (min-width: $screen-m) {
  footer {
    bottom: 0;
    left: 0;
    position: fixed;
    padding: 20px 20px;
    width: $nav-width;
    z-index: 10;
  }
}
