@import "./utils.scss";

.form {
  position: relative;

  .unlock-form {
    width: 100%;
    margin-left: 0px;
  }

  @include space-y(30px);
}

.form-header {
  background-color: $blue-xlight;
  font-size: $sans-size-xs;
  margin: -20px 0 25px -25px;
  padding: 15px 25px;
  border-radius: 10px 10px 0px 0px;
  position: relative;
  width: calc(100% + 50px);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .cancel {
    cursor: pointer;
    font-size: $sans-size-xs;
    opacity: 0.6;
    min-width: 75px;

    .icon {
      display: inline-block;
      height: 14px;
      margin: 1px 0 0 10px;
      width: 14px;
      vertical-align: top;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.form-header-message {
  padding-right: 20px;
  line-height: 20px;
}

.form-full h2 {
  margin-bottom: 25px;
}

.form-message {
  font-size: $sans-size-s;
  line-height: 1.3;
  margin: 0 0 30px;

  &.paragraph {
    margin: 20px 0 0;
  }
}

.form-footer-message {
  font-size: $sans-size-xs;
  line-height: 1.3;
  margin: 15px 0 0;
}

.dark .form-header {
  background-color: $purp;
  color: $sand-xlight;

  & .icon path {
    fill: $sand-xlight;
  }
}

.dark .submit-form {
  background-color: $purp;
  color: $sand-xlight;

  &:hover {
    background-color: $purp-dark;
  }

  &:disabled {
    background-color: $purp-xlight;

    &:hover {
      background-color: $purp-xlight;
    }
  }
}

.form-link {
  color: $purp-dark;
  text-decoration: underline;

  &:hover {
    color: $purp;
  }
}

@media only screen and (min-width: $screen-m) {
  .form-header {
    margin: -25px 0 25px -25px;
  }
}

@media only screen and (min-width: $screen-l) {
  .form-header {
    font-size: $sans-size-s;
    margin: -30px 0 30px -30px;
    padding: 20px 30px;
    width: calc(100% + 60px);

    .cancel {
      font-size: $sans-size-s;
      right: 30px;
      top: 20px;

      .icon {
        height: 16px;
        width: 16px;
      }
    }
  }

  .form-full h2 {
    margin-bottom: 30px;
  }

  .form-message {
    font-size: $sans-size-m;
    margin: 0 0 40px;
  }
}
