@import "./utils.scss";

.form .form-show-optional {
  font-size: $sans-size-xs;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;

  &.showing {
    &:after {
      border-left: 0.25em solid transparent;
      border-right: 0.25em solid transparent;
      border-bottom: 0.4em solid $purp-dark;
      content: "";
      display: inline-block;
      height: 0;
      margin: 0 0 3px 5px;
      width: 0;
    }
  }

  &.hidden {
    &:after {
      border-left: 0.25em solid transparent;
      border-right: 0.25em solid transparent;
      border-top: 0.4em solid $purp-dark;
      content: "";
      display: inline-block;
      height: 0;
      margin: 0 0 3px 5px;
      width: 0;
    }
  }
}

.form-optional {
  &.hidden {
    display: none;
  }
  &.showing {
    display: block;
  }

  @include space-y(30px);
}

.form-separator {
  border-bottom: 2px solid $sand;
}

.form-inputs {
  @include space-y(30px);
}

.form-input-container {
  position: relative;
  width: 100%;

  &.disabled .form-input {
    color: $purp-xlight;
  }

  &.pre-filled .form-input {
    color: $purp-xlight;
  }
}

.transaction-input {
  display: flex;
  align-items: center;
  border: 2px solid $sand;
  border-radius: 6px;
  background-color: $sand;
  font-size: $sans-size-l;
  padding: 0 12px 0 12px;
  width: 100%;

  .form-input {
    padding: 0;
    border: 0;

    &:focus {
      border: 0;
    }
  }

  @include focus-within {
    border: 2px solid $purp-dark;
    color: $purp-dark;
  }

  &.error {
    border: 2px solid $red-xxdark;
    color: $red-xxdark;
  }

  &.warning {
    border: 2px solid $yellow-xxxdark;
    color: $yellow-xxxdark;
  }

  .ticker {
    flex-shrink: 0;

    &.before {
      margin: 0 5px 0 0px;
      font-size: $sans-size-l;
    }

    &.after {
      margin: 0 5px 0 5px;
      font-size: $sans-size-ml;
      color: $purp-light;
    }
  }
}

.form-input-label {
  font-size: $sans-size-xs;
  margin-bottom: 6px;
}

.form-input {
  border: 2px solid $sand;
  border-radius: 6px;
  background-color: $sand;
  display: inline-block;
  font-size: $sans-size-l;
  line-height: 54px;
  padding: 0 14px 0 14px;
  width: 100%;

  &.small-text {
    font-size: $sans-size-s;
  }

  &:focus {
    border: 2px solid $purp-dark;
    color: $purp-dark;
  }
}

.enter-max-amount {
  background-color: $sand;
  border: 1px solid $sand-xdark;
  border-radius: 4px;
  color: $sand-xxxdark;
  font-size: $sans-size-xxs;
  outline: none;
  padding: 6px 8px;
  margin: 0 2px 0 2px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  flex-shrink: 0;
  width: auto;

  &:hover {
    border: 1px solid $purp-dark;
    color: $purp-dark;
  }
}

.form-input-note {
  color: $purp-light;
  font-size: $sans-size-xs;
  margin: 8px 0 0;
  width: 100%;

  .form-link {
    color: $purp-light;

    .icon {
      display: inline-block;
      height: 15px;
      margin: 0 0 0 3px;
      vertical-align: top;
      width: 15px;

      path {
        fill: $purp-light;
      }
    }
  }

  &.verified-value {
    color: $blue;
    text-align: right;

    .icon {
      display: inline-block;
      height: 16px;
      margin: 0 0 0 3px;
      width: 16px;
      vertical-align: top;
    }

    path {
      fill: $blue;
    }
  }
}

.submit-form {
  // Matches line-height + border of .form-input
  height: 58px;
  width: 100%;
}

.form-inputs-footer {
  display: flex;
  flex-direction: column;
  @include space-x(0px);
  @include space-y(20px);
}

@media only screen and (min-width: $screen-m) {
  .form-optional {
    margin: 0 0 35px;
  }
}

@media only screen and (min-width: $screen-l) {
  .form-field {
    width: calc(70% - 50px);
  }

  .form-inputs-footer {
    flex-direction: row;
    @include space-x(50px);
    @include space-y(0px);
  }

  .form-input-label {
    margin-bottom: 8px;
  }

  .form-input {
    font-size: $sans-size-xl;
    line-height: 68px;

    &.small-text {
      font-size: $sans-size-base;
    }
  }

  .enter-max-amount {
    border-radius: 5px;
    font-size: $sans-size-xs;
    padding: 8px 10px;
  }

  .form-input-note {
    font-size: $sans-size-xs;
    margin: 2px 0 0;
  }

  .submit-form {
    // Matches line-height + border of .form-input
    height: 72px;
    min-width: 30%;
    width: inherit;
    flex-shrink: 0;
  }

  .transaction-input {
    .ticker {
      &.before {
        margin: 0 8px 0 0px;
        font-size: $sans-size-xl;
      }
    }
  }
}
