@import url("https://use.typekit.net/oib7cgq.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300..700&display=swap");
@import "./variables.scss";
@import "./animations.scss";
@import "./normalize.scss";

// Page sections
@import "./background-container.scss";
@import "./bar-viz.scss";
@import "./button.scss";
@import "./checkbox.scss";
@import "./credit-status-balance.scss";
@import "./creditline-dropdown.scss";
@import "./currency-dropdown.scss";
@import "./credit-lines-list.scss";
@import "./drawdown-form.scss";
@import "./deposit-status.scss";
@import "./dropdown.scss";
@import "./footer.scss";
@import "./form-inputs.scss";
@import "./form-section.scss";
@import "./form-start.scss";
@import "./info-banner.scss";
@import "./info-section.scss";
@import "./inline-button.scss";
@import "./investor-notice.scss";
@import "./junior-pool.scss";
@import "./legal.scss";
@import "./network-indicators.scss";
@import "./network-widget.scss";
@import "./overlay.scss";
@import "./payment-form.scss";
@import "./pool-links.scss";
@import "./pools-list.scss";
@import "./recent-repayments.scss";
@import "./refresh-indicator.scss";
@import "./sidebar.scss";
@import "./devTools.scss";
@import "./status-icon.scss";
@import "./spinner.scss";
@import "./table.scss";
@import "./table-spaced.scss";
@import "./transactions-table.scss";
@import "./value-options.scss";
@import "./investor-notice.scss";
@import "./verify-identity.scss";
@import "./badge.scss";
@import "./rewards.scss";
@import "./tooltip.scss";
@import "./warning-banner.scss";
@import "./not-found.scss";
@import "./senior-pool.scss";
@import "./nav.scss";

html,
* {
  font-family: aktiv-grotesk, sans-serif;
  font-size: $sans-size-m;
  font-weight: 400;
  transition: color 0.1s ease, background-color 0.1s ease, opacity 0.1s ease, fill 0.1s ease;
}

body {
  color: $purp-dark;
  padding: 0 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input {
  color: $purp-dark;
}

.content-section {
  margin: 0 auto;
  max-width: $content-max-width;
}

.page-header {
  font-weight: 500;
  margin: 105px auto 20px;
  max-width: $content-max-width;
  padding: 0 0 20px;
  position: relative;
}

.content-empty-message {
  background-color: $blue-xxlight;
  color: $purp-dark;
  font-size: $sans-size-s;
  line-height: 1.3;

  -webkit-animation: dropIn 0.5s;
  -moz-animation: dropIn 0.5s;
  -o-animation: dropIn 0.5s;
  animation: dropIn 0.5s;
}

input::placeholder,
::-webkit-input-placeholder {
  color: $purp-xxlight;
}

.placeholder * {
  color: $sand-xxdark;

  .icon path {
    fill: $sand-xxdark;
  }
}

.disabled-link {
  pointer-events: none;
  cursor: default;
}

@media only screen and (min-width: $screen-l) {
  html,
  * {
    font-size: $sans-size-base;
  }

  .content-empty-message {
    font-size: $sans-size-m;
  }
}

// Disable the Block native notifications
.bn-notify-custom.bn-notify-notifications {
  display: none;
}
