.investor-notice {
  flex-direction: column;
  font-weight: normal;
  color: $purp-dark;
  align-items: space-between;
  @include space-x(0em);
  @include space-y(1.5em);
  cursor: pointer;

  .inner-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .message {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      @include space-x(1em);

      &.small {
        font-size: $sans-size-xs;
      }

      p {
        font-size: $sans-size-xs;
      }

      .icon {
        margin-top: -1px;
        width: 20px;
        height: 20px;
      }
    }
  }

  .expand {
    margin: -12px -12px -12px 12px;
    padding: 6px 12px 6px;
    height: 44px;

    .icon {
      width: 20px;
    }

    svg path {
      fill: $sand-xdark;
    }
  }

  .expand.close {
    svg path {
      fill: $purp-dark;
    }
  }

  .hidden-message {
    font-size: $sans-size-xs;
    margin: 24px 0 10px;

    &.show {
      display: block;
    }

    &.hide {
      display: none;
    }
  }
}
