@import "./utils.scss";

.pool-overview {
  .background-container-inner {
    border-bottom: 2px solid $sand;
  }

  .info-section {
    margin-top: 0px;
  }

  .pool-description {
    white-space: pre-line;
    line-height: 27px;
    font-size: $sans-size-s;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .pool-loan-description,
  .pool-borrower-description {
    font-size: $sans-size-s;
    line-height: 27px;
  }

  .pool-loan-description {
    margin-top: 22px;
    margin-bottom: 30px;
  }

  .pool-borrower-description.pool-highlights {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .pool-highlights {
    margin-bottom: 30px;
  }

  .pool-highlights h3 {
    font-weight: bold;
    font-size: $sans-size-s;
    display: block;
    margin-bottom: 8px;
  }

  .pool-highlight {
    margin-top: 4px;
    display: flex;
  }

  .pool-highlight::before {
    content: "•";
    margin-right: 14px;
    display: block;
  }

  .pool-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;

    .pool-overview-title {
      margin-bottom: 8px;
      margin-right: 8px;
    }

    .pool-links.pool-overview-links {
      font-size: $sans-size-s;
      margin-top: 0;
      display: flex;
    }
  }
}

.pool-description {
  white-space: pre-line;
  font-size: $sans-size-s;
}

.pool-info-section .value {
  font-size: $sans-size-s;
}

@media only screen and (min-width: $screen-m) {
  .pool-overview {
    .pool-header {
      display: flex;
      flex-direction: row;
      align-items: center;

      .pool-links {
        margin-top: 0;
      }
    }
  }
}
