.network-widget {
  height: 40px;
  width: 165px;
  display: flex;
  justify-content: flex-end;
}

.network-widget-button {
  background: $sand-light;
  border: 1px solid $sand-dark;
  border-radius: 9999px;
  color: $purp-dark;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $widget-button-height;
  font-size: $sans-size-xs;
  line-height: $widget-button-height;
  text-align: left;
  outline: none;
  padding: 0 18px;
  width: auto;
  max-width: 235px;
  white-space: nowrap;

  &:hover {
    background: $sand;
  }

  &.error {
    background-color: $red-xlight;
    min-width: auto;
  }

  &.success .success-indicator,
  &.success .success-indicator .icon {
    -webkit-animation: fadeInAndOut 4s;
    -moz-animation: fadeInAndOut 4s;
    -o-animation: fadeInAndOut 4s;
    animation: fadeInAndOut 4s;
  }

  .status-icon {
    margin: 0 10px 0 0;
    display: inherit;
  }

  .success-indicator {
    background-color: $blue;
    border-radius: 10px;
    color: white;
    right: 0;
    position: absolute;
    text-align: center;
    top: 0;
    padding: 0 34px;
    width: auto;
    max-width: 235px;
    visibility: hidden;

    & .icon {
      height: 18px;
      margin: 0 10px 4px 0;
      vertical-align: middle;
      visibility: hidden;
      width: 18px;
    }

    & .icon path {
      fill: $sand-xlight;
    }
  }

  &.bold {
    background-color: $blue-xlight;
    text-align: center;
    border: 0;
    width: 133px;
  }

  &.bold:hover {
    background-color: $blue-light;
  }

  &.disabled,
  &.disabled:hover {
    background-color: $blue-xxlight;
    text-align: center;
  }
}

.button.wallet {
  background-color: $sand-light;
  text-align: center;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .wallet-logo {
    position: absolute;
    left: 12px;
  }

  &.active {
    background-color: $sand;
  }

  &:hover {
    background-color: $sand;
  }
}

.button.wallet:disabled,
.button.wallet[disabled] {
  color: $purp-dark;
}

.no-wallet,
.other-wallets {
  display: block;
  margin: 26px 0 16px 0;
  text-align: center;
  width: 100%;
}

.other-wallets {
  margin: 21px 0 11px 0;
}

.install-wallet-info,
.no-metamask-info {
  p:first-of-type {
    margin-bottom: 20px;
  }

  p {
    line-height: 21px;
  }

  a.button.wallet {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;

    .out-icon {
      position: absolute;
      right: 12px;

      svg {
        margin: 0;
        height: 17px;
      }
    }
  }
}

.network-widget-info {
  background-color: $sand-xlight;
  border-top: 1px solid $sand;
  box-shadow: 0px 10px 15px rgba(180, 173, 167, 0.3);
  display: none;
  font-size: $sans-size-xs;
  line-height: 1.2;
  margin: 52px 0 0 0;
  position: fixed;
  right: 0;
  width: 100%;
}

.network-widget.open {
  .network-widget-button {
    background: $sand;
  }

  .network-widget-button.error {
    background: $red-xlight;
  }

  .network-widget-info {
    display: block;
  }
}

.wallet-address {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .address {
    font-size: $sans-size-s;
    font-weight: 700;
  }
}

.network-widget-section {
  border-top: 1px solid $sand;
  padding: 20px;

  .check-wallet {
    display: block;
    text-align: center;
    color: $purp-light;
    margin-top: 21px;
    font-size: 14px;
  }

  &:first-of-type {
    border-top: none;
  }

  &.address {
    font-size: $sans-size-s;
    font-weight: 500;
    padding: 24px 20px;
  }

  .value {
    float: right;
  }

  .button.wallet:not(:first-of-type) {
    margin-top: 10px;
  }
}

.network-widget-header {
  margin: 0 0 20px;

  a {
    color: $purp-dark;
    float: right;
    text-decoration: underline;
  }
}

.agree-to-terms {
  margin: 2px 0 20px;
  line-height: 1.4;

  a {
    color: $blue-dark;
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}

.network-widget .error-items {
  padding: 0px 20px 20px;
}

.network-widget .error-item {
  background-color: $red-xlight;
  border-radius: 8px;
  padding: 12px;
  position: relative;
}

.network-widget .error-item ~ .error-item {
  margin-top: 12px;
}

.network-widget .error-label {
  color: $red-dark;
  margin: 0 0 10px;
}

.network-widget .dismiss-error-item {
  background: none;
  cursor: pointer;
  display: inline-block;
  opacity: 0.5;
  padding: 8px;
  position: absolute;
  right: 4px;
  top: 4px;

  &:hover {
    opacity: 1;
  }

  .icon {
    height: 14px;
    width: 14px;
  }

  .icon path {
    fill: $red-dark;
  }
}

.network-widget .transaction-item {
  color: $purp-dark;
  margin: 16px 0 0 0;
  display: flex;
  justify-content: space-between;

  div:first-of-type {
    display: flex;
    align-items: baseline;
  }

  .status-icon {
    vertical-align: middle;
    margin: 0 10px 2px 3px;
    width: 12px;

    .spinner {
      height: 12px;
      width: 12px;
    }
  }

  .small-network-message {
    font-size: smaller;
  }

  .inline-button {
    float: right;

    &:hover {
      background-color: $sand;
    }

    .icon path {
      fill: $purp-dark;
    }
  }

  .tx-status-indicator {
    height: 12px;
    width: 12px;

    svg {
      height: 12px;
      width: 12px;
    }

    &.error-icon {
      path {
        fill: $red-xdark;
      }
    }

    &.success-icon {
      path {
        fill: $green;
      }
    }
  }

  .error-text {
    color: $red-xxdark;
  }
}

.network-widget-info .button {
  border-radius: 8px;
  font-size: $sans-size-xs;
  height: $widget-button-height;
  width: 100%;
}

.add-gfi-to-wallet,
.disconnect {
  display: flex;
  align-items: center;
  padding: 21px 18px 16px;
  border-top: 1px solid $sand;
  border-bottom-left-radius: 10px;
  width: 100%;

  svg {
    height: 15px;
    width: 15px;
    margin-left: 12px;
  }
}

.disconnect {
  svg {
    margin-left: 0px;
    margin-right: 12px;
  }
}

div.walletconnect-connect__buttons__wrapper__wrap {
  white-space: nowrap;
  font-size: $sans-size-xxs;
}

@media only screen and (min-width: 400px) {
  .network-widget-info {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(180, 173, 167, 0.45);
    position: absolute;
    right: 0;
    width: 300px;
  }
}

@media only screen and (min-width: $screen-m) {
  .network-widget {
    right: 18px;
    top: 15px;
  }

  .network-widget-button {
    border: none;
  }
}

@media only screen and (min-width: $screen-m) {
  .network-widget-button {
    right: 0px;
  }
}
