.network-indicators {
  z-index: 2;
}

.network-indicators-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.network-widget-container {
  position: relative;
}

@media only screen and (min-width: $screen-m) {
  .network-indicators {
    margin-right: 0;
  }
}
