.not-found-message-container {
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  justify-content: center;

  .heading {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 24px;
  }

  .message {
    margin-bottom: 12px;
  }
}
