.overlay {
  align-items: center;
  background-color: rgba(214, 209, 204, 0.8); // $sand-dark with 0.8 opacity
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: top;
  left: 0;
  overflow-y: scroll;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  &.hidden {
    display: none;
  }
}

.overlay-content {
  background-color: $sand-xlight;
  border-radius: 6px;
  box-shadow: 0px 0px 20px rgba(180, 173, 167, 0.5);
  max-width: 600px;
  padding: 20px;
  position: relative;

  h1 {
    font-size: $sans-size-m;
    line-height: 1;
    margin-bottom: 20px;
    padding: 0 30px 0 0;
  }

  p {
    font-size: $sans-size-xs;
    line-height: 1.2;
    margin-bottom: 15px;
  }

  label {
    font-size: $sans-size-xs;
    line-height: 1.2;
  }

  .button {
    display: block;
    padding: 0 30px;
    margin: 20px auto 0;
  }

  .close-button {
    background: transparent;
    margin: -6px -6px 0 0;
    opacity: 0.4;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 6px;

    &:hover {
      opacity: 1;
    }

    .icon {
      display: block;
      height: 15px;
      width: 15px;
    }
  }
}

@media only screen and (min-height: 400px) {
  .overlay {
    justify-content: center;
  }
}

@media only screen and (min-width: $screen-s) {
  .overlay {
    padding: 30px;
  }

  .overlay-content {
    padding: 30px;

    h1 {
      font-size: $sans-size-base;
      margin-bottom: 30px;
    }

    p {
      font-size: $sans-size-s;
      line-height: 1.3;
      margin-bottom: 20px;
    }

    label {
      font-size: $sans-size-s;
      line-height: 1.3;
    }

    .button {
      margin: 30px auto 0;
    }

    .close-button {
      top: 30px;
      right: 30px;

      .icon {
        height: 18px;
        width: 18px;
      }
    }
  }
}
