.pools-list.table-spaced {
  .table-header {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }

  .table-row.pool-skeleton {
    font-size: $sans-size-s;

    .gfi-apy {
      font-size: $sans-size-xs;
      margin-top: 4px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      svg {
        margin-left: 4px;
        height: 14px;
      }
    }
  }
}

.pools-list {
  margin-top: 0px;
  margin-bottom: 0px;

  .title {
    color: $purp-dark;
    font-size: $sans-size-base;
    font-weight: 500;
  }

  .subtitle {
    font-size: $sans-size-xs;
    color: $purp;
    margin: 12px 0 36px;
    line-height: 18.5px;
  }

  .pool-info {
    display: flex;
    flex-direction: row;
    align-items: center;

    .pixelated {
      image-rendering: pixelated;
    }

    .icon {
      margin: 0 14px 0 -4px;
      object-fit: contain;
      background-color: $sand-xlight;
      border-radius: 50%;
      height: 32px;
      width: 32px;
    }
  }

  .pool-card {
    position: relative;
    justify-content: space-between;

    .pool-capacity {
      position: absolute;
      top: -6px;
      right: -8px;
    }

    .icon.disabled {
      opacity: 50%;
    }

    .name,
    .apy,
    .limit,
    .balance {
      font-size: $sans-size-s;
    }

    .senior-pool-limit {
      color: $sand-xdark;
    }

    .subheader {
      font-size: $sans-size-xs;
    }

    .senior-pool-icon {
      background-color: #fff;
      padding: 4px;
      border-radius: 50%;
    }

    .gfi-apy {
      font-size: $sans-size-xs;
      color: $purp-light;
      margin-top: 4px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      svg {
        margin-left: 4px;
        height: 14px;

        path {
          fill: $purp-light;
        }
      }
    }
  }

  .fallback-content {
    height: 45px;
  }

  .circle-icon {
    width: 45px;
    height: 45px;
    background: $sand-dark;
    border-radius: 50%;
    margin-right: 18px;
  }

  .name {
    flex-grow: 1;
    min-width: 0px;
  }

  .subheader {
    font-size: $sans-size-xs;
    color: $purp-light;
    display: block;
    margin: 5px 0 -3px;
    padding: 0 0 3px;
  }

  .disabled {
    color: $sand-xxdark;
  }
}

.table-spaced.pools-list {
  .balance,
  .limit {
    display: none;
  }
}

@media only screen and (max-width: 480px), only screen and (min-width: $screen-m) and (max-width: 750px) {
  .table-spaced.pools-list {
    .table-cell:first-child {
      width: 65%;
    }
    .table-cell:last-child {
      width: 35%;
    }
  }

  .table-spaced .table-cell.col22.apy {
    white-space: nowrap;
  }
}

@media only screen and (min-width: 850px) {
  .table-spaced.pools-list {
    .balance,
    .limit {
      display: block;
    }
  }
}

@media only screen and (min-width: $screen-m) {
  .pools-list {
    .pool-info .icon {
      height: 36px;
      width: 36px;
    }
  }
}

@media only screen and (min-width: $screen-l) {
  .pools-list {
    .subheader {
      font-size: $sans-size-s;
    }

    .pool-info .icon {
      margin-right: 18px;
      height: 45px;
      width: 45px;
    }

    .subheader {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
