.pools-list {
  margin-top: 0px;
  margin-bottom: 0px;

  .title {
    color: $purp-dark;
  }

  .pool-info {
    display: flex;
    flex-direction: row;
    align-items: center;

    .pixelated {
      image-rendering: pixelated;
    }

    .icon {
      margin: 0 14px 0 -4px;
      object-fit: contain;
      background-color: $sand-xlight;
      border-radius: 50%;
      height: 32px;
      width: 32px;
    }
  }

  .pool-card {
    position: relative;
    justify-content: space-between;

    .pool-capacity {
      position: absolute;
      top: -6px;
      right: -8px;
    }
  }

  .fallback-content {
    height: 45px;
  }

  .circle-icon {
    width: 45px;
    height: 45px;
    background: $sand-dark;
    border-radius: 50%;
    margin-right: 18px;
  }

  .name {
    flex-grow: 1;
    min-width: 0px;
  }

  .subheader {
    font-size: $sans-size-xs;
    color: $purp-light;
    display: block;
    margin: 5px 0 -3px;
    padding: 0 0 3px;
  }

  .disabled {
    color: $sand-xxdark;
  }
}

@media only screen and (max-width: 480px), only screen and (min-width: $screen-m) and (max-width: 750px) {
  .table-spaced.pools-list {
    .balance, .limit {
      display: none;
    }

    .table-cell:first-child {
      width: 75%;
    }
    .table-cell:last-child {
      width: 25%;
    }
  }

  .table-spaced .table-cell.col16.apy {
    white-space: nowrap;
  }
}

@media only screen and (min-width: $screen-m) {
  .pools-list{
    .pool-info .icon{
      height: 36px;
      width: 36px;
    }
  }
}

@media only screen and (min-width: $screen-l) {
  .pools-list{
    .subheader {
      font-size: $sans-size-s;
    }

    .pool-info .icon{
      margin-right: 18px;
      height: 45px;
      width: 45px;
    }

    .subheader {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
