.recent-repayments {
  border-top: 2px solid $sand;
  margin-top: 32px;
  padding-top: 32px;

  .section-header {
    font-size: $sans-size-s;
    margin: 0 0 32px;
  }

  .table {
    td {
      padding: 12px 2px;
    }

    th {
      padding-right: 4px;
    }
    .transaction-type {
      min-width: 86px;
    }

    .transaction-link-label {
      display: none;
    }

    th.transaction-link {
      opacity: 0;
    }

    .transaction-link a:hover path {
      fill: $purp-dark;
    }

    .transaction-date {
      min-width: 41px;
    }

    .transaction-portion {
      min-width: 57px;
      white-space: normal;
    }

    .transaction-portion.zero {
      color: $sand-xxdark;
    }
  }
}

@media only screen and (min-width: 550px) and (max-width: $screen-m), only screen and (min-width: 750px) {
  .recent-repayments .table {
    th.transaction-link {
      opacity: 1;
    }

    .transaction-type {
      min-width: auto;
    }

    .transaction-date {
      width: auto;
    }

    .transaction-portion {
      min-width: auto;
      white-space: nowrap;
    }

    .transaction-link {
      width: 125px;
    }

    .transaction-link-label {
      display: inline;
    }

    .transaction-link a {
      float: right;
    }

    .transaction-amount {
      padding-left: 10px;
    }
  }
}

@media only screen and (min-width: $screen-l) {
  .recent-repayments {
    margin-top: 40px;
    padding-top: 32px;

    .table {
      td {
        padding: 15px 0;
      }

      .transaction-link {
        width: 150px;
      }
    }
  }
}
