.rewards-summary {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.rewards-summary-left-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-right: 2px solid $sand;
  padding: 48px;

  > * + * {
    margin-top: 12px;
  }

  .total-gfi-balance {
    font-size: $sans-size-s;
  }

  .total-gfi {
    font-size: $sans-size-xxl;
  }

  .total-usd {
    font-size: $sans-size-base;
    color: $blue;
  }
}

.rewards-summary-right-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 48px;

  > * + * {
    margin-top: 12px;
  }

  .details-item {
    display: flex;
    justify-content: space-between;
    font-size: $sans-size-s;
    flex-wrap: wrap;
  }

  .disabled-value {
    color: $sand-xxdark;
    margin-right: 4px;
  }

  .value {
    margin-right: 4px;
  }

  .total-balance {
    border-top: 2px solid $sand;
    padding: 12px 0 0 0;
  }
}

button.action {
  margin-left: auto;
  background-color: $blue-xlight;
  white-space: nowrap;
  width: 116px;
  border-radius: 6px;
  padding: 10px 4px;

  &:hover {
    background-color: $blue-light;
  }

  &.disabled-button {
    pointer-events: none;
    background-color: $sand;
    color: $sand-xxdark;
  }
}

button.open-details {
  padding: 0;
  background: none;
  margin-left: 18px;
  display: flex;
  justify-content: flex-end;

  & svg {
    height: 24px;

    path {
      fill: $sand-xdark;
    }
  }

  &:hover {
    background: none;
  }

  &.close {
    svg path {
      fill: $purp-dark;
    }
  }
}

.gfi-rewards {
  h2 {
    font-size: $sans-size-s;
    color: $purp-dark;
  }
  .background-container {
    margin-bottom: 25px;
  }

  .balance,
  .limit {
    color: $purp-dark;
  }

  .info-banner {
    padding: 0;
    margin: 0;
    width: 100%;
    button {
      font-size: $sans-size-base;
    }
  }

  .rewards-list-item {
    border-radius: 6px;
    font-size: $sans-size-s;
    margin-bottom: 24px;

    .disabled-text {
      color: $sand-xxdark;
    }

    .subtitle {
      color: $purp-light;
      font-size: $sans-size-xs;
      margin-top: 6px;
    }

    .action-button-container {
      flex: 1;
    }

    .form-input-note {
      margin-top: 10px;
    }
  }

  .rewards-list-item.no-rewards {
    display: block;
    font-size: $sans-size-s;
    color: $sand-xxdark;
  }

  .senior-pool-link {
    text-decoration: underline;
    color: $sand-xxdark;
  }
}

@media only screen and (max-width: $screen-l) {
  .rewards-summary {
    flex-direction: column;
    padding: 0;
  }

  .rewards-summary-left-item {
    border-right: 0;
    border-bottom: 2px solid $sand;
    padding: 24px;
  }

  .rewards-summary-right-item {
    padding: 24px 24px;
  }
}

@media only screen and (max-width: $screen-l) {
  button.action {
    float: none;
    width: 100%;
    margin: 0;
  }

  .gfi-rewards .table-cell.col32.title {
    width: 100%;
  }

  .rewards-list-item.mobile {
    margin-bottom: 24px;

    .item-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .item-details {
      display: flex;
      margin: 12px 0 18px 0;
    }

    .detail-container {
      width: 100%;
    }

    .detail-label {
      display: block;
      margin: 0 0 4px 0;
      color: $purp-dark;
    }
  }
}

@media only screen and (max-width: 1050px) {
  .gfi-rewards .table-cell.col32,
  .gfi-rewards .table-cell.col20 {
    width: 23%;
  }

  .break-claimable-column {
    padding-left: 35px;
  }

  .break-granted-column {
    padding-left: 50px;
  }
}
