.sidebar {
  background-color: $sand-light;
  border-bottom: 1px solid $sand;
  font-size: $sans-size-s;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.sidebar-logo {
  margin: 16px 0 16px 16px;
  height: 28px;
}

.sidebar nav {
  box-shadow: 0px 10px 15px rgba(180, 173, 167, 0.3);
  display: none;
  border-top: 1px solid $sand;
  padding: 10px 0 15px;
  text-align: right;
}

.sidebar.open nav {
  display: block;
}

.sidebar nav a {
  color: $purp-light;
  display: block;
  padding: 9px 20px;
  margin: 4px 0;

  &:hover {
    color: $purp-dark;
  }

  &.active {
    color: $purp-dark;
    cursor: auto;
    font-weight: 500;
  }
}

.open-sidebar {
  border: 1px solid $sand-dark;
  border-radius: 10px;
  height: $widget-button-height;
  outline: none;
  top: 10px;
  padding: 8px 0;
  position: absolute;
  right: 12px;
  width: $widget-button-height;

  & .icon {
    height: 22px;
    width: 22px;
  }

  &:hover {
    background: $sand;
  }
}

.open .open-sidebar {
  background: $sand;
}

@media only screen and (min-width: $screen-m) {
  .sidebar {
    border: none;
    bottom: 0;
    width: $nav-width;
  }

  .sidebar nav,
  .sidebar.open nav {
    border: none;
    box-shadow: none;
    display: block;
    text-align: left;
  }

  .sidebar-logo {
    margin: 22px 0 30px 20px;
    height: 32px;
  }

  .sidebar nav a.active {
    border-right: 3px solid $purp-dark;
  }

  .open-sidebar {
    display: none;
  }
}
