.tooltip-container {
  // Using !important here to override the default style of the tooltip
  background: $sand-light !important;
  box-shadow: 0px 0px 20px rgba(180, 173, 167, 0.5) !important;
  border-radius: 6px;
  padding: 19px 20px 10px 19px !important;
  font-family: aktiv-grotesk, sans-serif !important;
  color: $purp-dark !important;
  opacity: 1 !important;

  p {
    line-height: 19.2px;
    font-size: 15px;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }

  &.clickable {
    pointer-events: all;
    cursor: auto;
  }

  .tooltip-long-description {
    max-width: 214px;
    line-height: 19.2px;

    &:first-of-type {
      margin-bottom: 18px;
    }
  }

  .tooltip-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 27px;
  }

  .tooltip-small-row {
    font-size: 12px;
    height: 14px;
    color: #897da3;
    margin: 0 0 14px 0;
  }

  .tooltip-divider {
    width: 100%;
    height: 2px;
    background: $sand;
    margin: 4px 0 11px 0;
  }

  .tooltip-footer {
    margin: 16px 0 11px 0;
    color: #897da3;
  }
}

.apy-detail-tooltip {
  @extend .tooltip-container;
  min-width: 300px;

  span {
    line-height: 19.2px;
    font-size: 15px;
  }

  .tooltip-long-description {
    max-width: 320px;
    margin-bottom: 18px;
  }

  .tooltip-footer {
    max-width: 320px;
    font-size: $sans-size-xs;
  }
}

.placeholder {
  .tooltip-small-row {
    color: #b4ada7;
  }
}
