.goldfinch-tooltip {
  background: #F1EFED !important;
  box-shadow: 0px 0px 20px rgba(180, 173, 167, 0.5) !important;
  border-radius: 6px;
  padding: 19px 20px 10px 19px !important;
  font-family: aktiv-grotesk, sans-serif !important;
  color: #483E5E !important;
  opacity: 1 !important;

  p {
    line-height: 19.2px;
    font-size: 15px;
   }

  .tooltip-descritpion {
    max-width: 214px;
    line-height: 19.2px;

    &:first-of-type {
      margin-bottom: 18px;
    }
  }

  .tooltip-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 27px;
  }

  .tooltip-divider {
    width: 100%;
    height: 2px;
    background: #E4E0DD;
    margin: 4px 0 11px 0;
  }
}