.transactions-table {
  margin: 0 0 50px;

  .transaction-type {
    position: relative;

    .icon {
      height: 20px;
      margin: -5px 12px -5px 0;
      width: 20px;
    }
  }

  .inflow .transaction-type {
    color: $purp-light;

    .icon path {
      fill: $purp-light;
    }

    .spinner .double-bounce1,
    .spinner .double-bounce2 {
      background-color: $purp-light;
    }
  }

  .outflow .transaction-type {
    color: $blue;

    .icon path {
      fill: $blue;
    }
  }

  .error .transaction-type {
    color: $red;

    .icon path {
      fill: $red;
    }
  }

  td.transaction-date,
  th.transaction-date {
    display: none;
    padding-left: 6%;
  }

  .transaction-link {
    padding: 0 0 0 8px;
    text-align: center;
  }

  .status-icon {
    margin: -5px 14px -5px 2px;
  }
}

@media only screen and (min-width: $screen-s) {
  .transactions-table {
    td.transaction-date,
    th.transaction-date {
      display: table-cell;
    }
  }
}

@media only screen and (min-width: $screen-l) {
  .transactions-table {
    margin-top: 30px;

    td.transaction-date,
    th.transaction-date {
      padding-left: 10%;
      width: 40%;
    }

    .transaction-type .icon {
      height: 24px;
      margin: -5px 12px -5px 0;
      width: 24px;
    }
  }
}
