@mixin space-y($space) {
  > * ~ * {
    margin-top: $space;
  }
}

@mixin space-x($space) {
  > * ~ * {
    margin-left: $space;
  }
}

@mixin focus-within {
  &:focus-within {
    @content;
  }

  // For focus-within-polyfill. Must be separate from pseudoselector block,
  // otherwise unsupported browsers will ignore the whole block.
  &.focus-within {
    @content;
  }
}

.font-bold {
  font-weight: bold;
}

.font-small {
  font-size: $sans-size-s;
}

.purp-light {
  color: $purp-light;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

@function url-encoded-color($color) {
  @return "%23" + str-slice("#{$color}", 2, -1);
}
