// Colors
$sand-xxxdark: #9e9994;
$sand-xxdark: #b4ada7;
$sand-xdark: #c3beb7;
$sand-dark: #d6d1cc;
$sand: #e4e0dd;
$sand-light: #f1efed;
$sand-xlight: #f8f6f4;
$sand-100: #f5f5f4;
$sand-700: #44403c;
$sand-900: #1c1917;

$purp-dark: #483e5e;
$purp: #675b81;
$purp-light: #897da3;
$purp-xlight: #ada5bf;
$purp-xxlight: #d1ccdb;
$eggplant-600: #584c72;

$blue-dark: #67afd7;
$blue: #75c1eb;
$blue-light: #96d3f5;
$blue-xlight: #b6e4fe;
$blue-xxlight: #ddeffa;

$green-xlight: #d1e1ca;
$green-dark: #618850;

$red-xlight: #fae6de;
$red: #e4af98;
$red-dark: #cc937a;
$red-xdark: #b07680;
$red-xxdark: #91525e;

$yellow-xxxdark: #c27909;
$yellow-dark: #f6d8a9;
$yellow: #f2e1c7;

$green: #7fa370;

// Type
$sans-size-xxs: 12px;
$sans-size-xs: 15px;
$sans-size-s: 18px;
$sans-size-m: 21px;
$sans-size-base: 24px;
$sans-size-ml: 28px;
$sans-size-l: 32px;
$sans-size-xl: 36px;
$sans-size-xxl: 42px;

// Widths
$screen-s: 350px;
$screen-m: 600px;
$screen-l: 900px;
$screen-xl: 1050px;

$screen-phone-l: 640px;
$screen-tablet: 768px;

$content-max-width: 750px;
$nav-width: 180px;

// Heights
$widget-button-height: 40px;
