.verify-identity {
  .background-container {
    margin-bottom: 1em;
  }
}

.verify-card {
  .info-banner {
    padding: 0;
  }

  .title {
    font-size: $sans-size-m;
    font-weight: 500;
    margin-bottom: 1em;
  }

  .message {
    margin-top: 0;
  }
}

.verify-types {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;
}

.verify-step-label .icon {
  height: 24px;
  margin: 0 0 -3px 3px;
  width: 24px;
}

.link {
  text-decoration: underline;
  color: $blue-dark;
}

@media only screen and (min-width: 750px) {
  .verify-types {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: $screen-l) {
  .verify-step-label .icon {
    height: 26px;
    width: 26px;
  }

  .verify-types {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
