.verify-identity {
  .background-container {
    margin-bottom: 1em;
  }
}

.verify-card {
  .info-banner {
    padding: 0;
  }

  .title {
    font-size: $sans-size-m;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .message {
    margin-top: 0;
  }
}

.link {
  text-decoration: underline;
  color: $blue-dark;
}

.group-label {
  font-size: $sans-size-m;
  display: inline-block;
  margin-bottom: 10px;
}

button {
  width: 33%;
}

.verify-step-label .icon {
  height: 24px;
  margin: 0 0 -3px 3px;
  width: 24px;
}

.value-option {
  margin-bottom: 15px;
}

@media only screen and (min-width: $screen-l) {
  .verify-step-label .icon {
    height: 26px;
    width: 26px;
  }
}
