@import "./utils.scss";

.warning-banner {
  width: calc(100% + 60px);
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: $yellow;
  color: $purp-dark;
  font-size: $sans-size-s;
  line-height: 24px;
  margin-top: 104px;
  margin-bottom: -40px;

  -webkit-animation: dropIn 0.5s;
  -moz-animation: dropIn 0.5s;
  -o-animation: dropIn 0.5s;
  animation: dropIn 0.5s;
  @include space-x(0em);
  @include space-y(1em);

  &.no-margin {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .message {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: $sans-size-s;
    @include space-x(24px);

    &.small {
      font-size: $sans-size-xs;
    }

    .icon {
      margin-top: -3px;
      flex-shrink: 0;
      height: 28px;
      width: 28px;
    }
  }

  .bold {
    font-weight: 500;
  }
}

@media only screen and (min-width: $screen-l) {
  .warning-banner {
    flex-direction: row;
    font-size: $sans-size-m;
    align-items: center;
    justify-content: space-between;
    @include space-x(30px);
    @include space-y(0em);

    .message {
      &.small {
        font-size: $sans-size-s;
      }

      .icon {
        height: 32px;
        width: 32px;
      }
    }
  }
}
