# NOTICE - Any changes here must be copied over to other .npmrc files in this repo. Otherwise running
#          `npm install` in those subprojects will have different behavior than running from the root.

# Set to true as we have some package conflicts. these were introduced because we were on NPM 6, which
# implicitly had this set to `true`. Now that we're on NPM 7+, NPM checks for peer dependency conflicts
# and some of our dependencies cause us to fail. This can be turned back off once we fix the dependency
# conflicts in our packages.
legacy-peer-deps=true
