# Set to true as we have some package conflicts. these were introduced because we were on NPM 6, which
# implicitly had this set to `true`. Now that we're on NPM 7+, NPM checks for peer dependency conflicts
# and some of our dependencies cause us to fail. This can be turned back off once we fix the dependency
# conflicts in our packages.
legacy-peer-deps=true