.background-container{
  background-color: $sand-light;
  border-radius: 6px;
  margin: 10px 0 50px;
  padding: 20px;
  width: 100%;
}

.background-container-inner{
  margin: 0 -20px;
  padding: 0 20px;
}

@media only screen and (min-width: $screen-m) {
  .background-container{
    border-radius: 8px;
    margin: 10px 0 50px -25px;
    padding: 25px;
    width: calc(100% + 50px);
  }

  .background-container-inner{
    margin: 0 -25px;
    padding: 0 25px;
  }
}

@media only screen and (min-width: $screen-l) {
  .background-container{
    border-radius: 10px;
    margin: 20px 0 60px -30px;
    padding: 30px;
    width: calc(100% + 60px);
  }

  .background-container-inner{
    margin: 0 -30px;
    padding: 0 30px;
  }
}
