.bar-viz{
  position: relative;
}

.bar-left, .bar-right{
  display: inline-block;
  vertical-align: top;
}

.full-bar{
  height: 14px;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
}

.full-bar .bar-left{
  background-color: $purp-dark;
  height: 14px;
}

.full-bar .bar-right{
  background-color: $blue-light;
  height: 14px;
}

.bar-viz .right-label,
.bar-viz .left-label{
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.bar-viz .right-label{
  color: $blue;
  text-align: right;
}

.bar-viz .amount{
  font-size: $sans-size-ml;
  margin: 16px 0 8px;
}

.bar-viz.small .amount{
  font-size: $sans-size-base;
  margin: 12px 0 8px;
}

.bar-viz .description{
  font-size: $sans-size-xs;
}

@media only screen and (min-width: $screen-l) {
  .bar-viz .amount{
    font-size: $sans-size-xl;
  }

  .bar-viz .description{
    font-size: $sans-size-s;
  }
}
