.bar-viz{
  position: relative;
}

.bar-left, .bar-right{
  display: inline-block;
  vertical-align: top;
}

.full-bar{
  height: 14px;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
}

.full-bar .bar-left{
  background-color: $purp;
  height: 14px;
  transition: width 0.2s ease;
}

.full-bar .bar-right{
  background-color: $blue-light;
  height: 14px;
  transition: width 0.2s ease;
}

.bar-viz .right-label,
.bar-viz .left-label{
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.bar-viz .right-label{
  color: $blue;
  text-align: right;
}

.bar-viz .amount{
  font-size: $sans-size-base;
  margin: 16px 0 8px;
}

.bar-viz .description{
  font-size: $sans-size-xs;
}

.placeholder .full-bar,
.placeholder .full-bar .bar-left,
.placeholder .full-bar .bar-right{
  background-color: $sand;
}


@media only screen and (min-width: $screen-l) {
  .bar-viz.background-container-inner{
    padding-bottom: 35px;
    padding-top: 30px;
  }
  .bar-viz .amount{
    font-size: $sans-size-ml;
  }

  .bar-viz .description{
    font-size: $sans-size-s;
  }
}
