button {
  // The intention here is to override the user agent stylesheet
  // styling to make the button as discreet as possible while still
  // being consistent with our `.button` styling.
  background-color: inherit;
  padding: 0;
  color: $purp-dark;
}

.button{
  border-radius: 6px;
  font-size: $sans-size-m;
  color: $purp-dark;
  outline: none;
  background-color: $blue-xlight;
  line-height: 56px;

  &:hover{
    background-color: $blue-light;
  }

  .icon{
    vertical-align: middle;
    height: 22px;
    margin: -4px 8px 0 0;
    width: 22px;
  }

  &.dark{
    background-color: $purp;
    color: $sand-xlight;
  }

  &.dark:hover{
    background-color: $purp-dark;
  }

  &.dark .icon path{
    fill: $sand-xlight;
  }

  &.pending{
    cursor: auto;
    pointer-events: none;
    opacity: 0.5;
  }

  &.subtle{
    background-color: $sand-light;
  }

  &.subtle:hover{
    background-color: $sand;
  }

  &.disabled,
  &.disabled.dark{
    background-color: $sand;
    color: $sand-xxdark;
    cursor: auto;

    & .icon path{
      fill: $sand-xxdark;
    }
  }
}

@media only screen and (min-width: $screen-l) {
  .button{
    border-radius: 8px;
    font-size: $sans-size-base;
    line-height: 70px;

    .icon{
      height: 24px;
      margin: -4px 12px 0 0;
      vertical-align: middle;
      width: 24px;
    }
  }
}
