.button{
  background-color: $blue-xlight;
  border-radius: 6px;
  font-size: $sans-size-m;
  color: $purp-dark;
  line-height: 56px;
  outline: none;
  // padding: 16px 0;

  &:hover{
    background-color: $blue-light;
  }

  .icon{
    vertical-align: middle;
    margin: -4px 8px 0 0;
    width: 22px;
  }

  &.pending{
    cursor: auto;
    pointer-events: none;
    opacity: 0.5;
  }

  &.non-functioning{
    background-color: $sand;
    color: $sand-xxdark;
    cursor: not-allowed;

    & .icon path{
      stroke: $sand-xxdark;
    }
  }
}

@media only screen and (min-width: $screen-l) {
  .button{
    border-radius: 8px;
    font-size: $sans-size-base;
    line-height: 70px;
    // padding: 20px 0;

    .icon{
      vertical-align: middle;
      margin: -4px 12px 0 0;
      width: 26px;
    }
  }
}
