.form-start button{
  width: 100%;

  & ~ button{
    margin-top: 16px;
  }  
}

.form-start.split{
  padding: 0;
}

.form-start.split .form-start-section{
  padding: 25px;

  & ~ .form-start-section{
    border: solid $sand; 
    border-width: 2px 0px 0px 0px
  }
}

.form-start-label{
  font-size: $sans-size-xs;
}

.form-start-value{
  font-size: $sans-size-base;
  margin: 4px 0 12px;
}

.placeholder .form-start-label,
.placeholder .form-start-value{
  color: $sand-xxdark;
}


@media 
  only screen 
  and (min-width: 480px)
  and (max-width: $screen-m),
  only screen
  and (min-width: 750px) {
  .form-start button{
    width: calc(50% - 8px);

    & ~ button{
      margin: 0;
    }  

    &:nth-of-type(2n) {
      margin-left: 16px;
    }
  }

  .form-start.split .form-start-section{
    display: inline-block;
    padding: 25px;
    width: 50%;

    & ~ .form-start-section{
      border-width: 0px 0px 0px 2px;
    }

    button {
      width: 100%;
    }
  }
}

@media only screen and (min-width: $screen-l) {
  .form-start button{
    width: calc(50% - 15px);

    &:nth-of-type(2n) {
      margin-left: 30px;
    }
  }

  .form-start-label{
    font-size: $sans-size-s;
  }

  .form-start-value{
    font-size: $sans-size-ml;
    margin: 6px 0 24px;
  }

  .form-start.split{
    // margin: -30px;
  }

  .form-start.split .form-start-section{
    padding: 30px;
  }
}
