$header-height: 70px;
$header-widget-height: 40px;

.header{
  height: $header-height;
  position: absolute;
  top: 0;
  right: 0;
}

.header-widget{
  background: $sand-light;
  border-radius: 10px;
  display: inline-block;
  font-size: $sans-size-xs;
  float: right;
  height: $header-widget-height;
  line-height: $header-widget-height;
  margin: ($header-height - $header-widget-height) / 2 18px 0 0;
  outline: none;
  padding: 0 18px;

  & .spinner{
    vertical-align: top;
    margin: ($header-widget-height - 20) / 2 8px 2px -2px
  }

  & .icon{
    margin-right: 8px;
  }
}
.header-widget:hover{
  background: $sand;
}


@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
  }
}