@import url("https://use.typekit.net/oib7cgq.css");
@import './variables.scss';
@import './normalize.scss';

// Page sections
@import './bar-viz.scss';
@import './footer.scss';
@import './form-section.scss';
@import './info-section.scss';
@import './network-widget.scss';
@import './sidebar.scss';
@import './status-icon.scss';
@import './spinner.scss';



html, * {
  font-family: aktiv-grotesk, sans-serif;
  font-size: $sans-size-base;
  font-weight: 400;
  transition: 0.1s;
}

body {
  color: $purp-dark;
  background-color: $sand-xlight;
  padding: 0 60px 100px $nav-width + 60;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input{
  color: $purp-dark;
}

.content-section{
  margin: 0 auto;
  max-width: $content-max-width;
}

.page-header{
  font-size: $sans-size-base;
  font-weight: 500;
  margin: 105px auto 20px;
  max-width: $content-max-width;
  padding: 0 0 20px;
}

.content-empty-message{
  background-color: $sand-light;
  border-radius: 10px;
  color: $purp-dark;
  font-size: $sans-size-m;
  line-height: 1.4;
  margin: 0 0 60px -30px;
  padding: 30px;
  width: calc(100% + 60px);
}

.button{
  background-color: $blue-xlight;
  border-radius: 8px;
  color: $purp-dark;
  line-height: 30px;
  outline: none;
  padding: 20px 0;

  &:hover{
    background-color: $blue-light;
  }

  img{
    vertical-align: middle;
    margin: -4px 12px 0 0;
  }

  &.non-functioning{
    // background-color: $sand;
    // color: $sand-xxdark;
    cursor: not-allowed;
    opacity: 0.5;
  }
}

 input::placeholder,
 ::-webkit-input-placeholder {
   color: $purp-xxlight;
 }


@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
