@import url("https://use.typekit.net/oib7cgq.css");
@import './variables.scss';
@import './normalize.scss';

// Page sections
@import './background-container.scss';
@import './bar-viz.scss';
@import './button.scss';
@import './credit-status-balance.scss';
@import './deposit-status.scss';
@import './footer.scss';
@import './form-inputs.scss';
@import './form-section.scss';
@import './form-start.scss';
@import './info-section.scss';
@import './network-widget.scss';
@import './sidebar.scss';
@import './status-icon.scss';
@import './spinner.scss';
@import './unlock-form.scss';
@import './value-options.scss';



html, * {
  font-family: aktiv-grotesk, sans-serif;
  font-size: $sans-size-m;
  font-weight: 400;
  transition: 0.1s;
}

body {
  color: $purp-dark;
  background-color: $sand-xlight;
  padding: 0 25px 60px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input{
  color: $purp-dark;
}

.content-section{
  margin: 0 auto;
  max-width: $content-max-width;
}

.page-header{
  font-weight: 500;
  margin: 105px auto 20px;
  max-width: $content-max-width;
  padding: 0 0 20px;
}

.content-empty-message{
  background-color: $blue-xxlight;
  color: $purp-dark;
  font-size: $sans-size-s;
  line-height: 1.3;
}

 input::placeholder,
 ::-webkit-input-placeholder {
   color: $purp-xxlight;
 }

.placeholder * {
  color: $sand-xxdark;
}


@media only screen and (min-width: $screen-m) {
  body {
    padding: 0 60px 100px $nav-width + 60;
  }
}


@media only screen and (min-width: $screen-l) {
  html, * {
    font-size: $sans-size-base;
  }

  .content-empty-message{
    font-size: $sans-size-m;
  }
}
