@import url("https://use.typekit.net/oib7cgq.css");
@import './variables.scss';
@import './normalize.scss';

// Page sections
@import './footer.scss';
@import './form-section.scss';
@import './header.scss';
@import './info-section.scss';


html, * {
  color: $purp-dark;
  font-family: aktiv-grotesk, sans-serif;
  font-size: $sans-size-base;
  font-weight: 400;
}

body {
  background-color: $sand-xlight;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.content-header{
  border-bottom: 1px solid $purp-light;
  font-size: $sans-size-xl;
  margin: 0 auto 40px;
  max-width: $content-max-width;
  padding: 0 0 20px;
}

.button-dk{
  background-color: $purp-dark;
  border-radius: 8px;
  color: white;
  font-size: $sans-size-m;
  font-weight: 500;
  outline: none;
  padding: 12px 14px;
  touch-action: none;

  &:hover{
    background-color: $purp;
  }
}
.button-dk.big{
  font-size: $sans-size-base;
  border-radius: 10px;
  padding: 14px 20px;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
