@import "./utils.scss";

.info-banner {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  background-color: $blue-xxlight;
  color: $purp-dark;
  font-size: $sans-size-s;
  line-height: 1.3;

  -webkit-animation: dropIn 0.5s;
  -moz-animation: dropIn 0.5s;
  -o-animation: dropIn 0.5s;
  animation: dropIn 0.5s;
  @include space-x(0em);
  @include space-y(1em);

  .hidden-message {
    font-size: $sans-size-xs;
  }

  .message {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include space-x(1em);

    p {
      font-size: $sans-size-xs;
      position: relative;
      line-height: 1.2;
    }

    .icon {
      margin-top: -3px;
      flex-shrink: 0;
      height: 28px;
      width: 28px;
    }
  }

  .button {
    background-color: $blue-xlight;
    color: $purp-dark;
    width: 100%;

    &:hover {
      background-color: $blue-light;
    }
  }
}

@media only screen and (min-width: $screen-l) {
  .info-banner {
    flex-direction: row;
    font-size: $sans-size-m;
    align-items: center;
    @include space-x(30px);
    @include space-y(0em);

    .message {
      width: 67%;

      p {
        font-size: $sans-size-s;
      }

      .icon {
        height: 32px;
        width: 32px;
      }
    }

    .button {
      width: 33%;
    }
  }
}
