.info-section{
  margin: 80px auto 0;
}

.info-section.empty{
  color: $sand-xxdark;

  & .value{
    color: $sand-dark;
  }
}

.info-container{
  padding-bottom: 0;
}

.small-info-item{
  display: inline-block;
  margin: 0 0 30px;
  width: 100%;

  .value{
    font-size: $sans-size-m;
  }

  .label{
    font-size: $sans-size-xs;
    margin: 6px 0 0;
  }
}


@media only screen and (min-width: $screen-s) {
  .small-info-item{
    width: 50%;
  }
}


@media only screen and (min-width: $screen-l) {
  .small-info-item{
    margin: 0 0 35px;
    width: 33%;

    .value{
      font-size: $sans-size-base;
    }

    .label{
      font-size: $sans-size-s;
      margin: 8px 0 0;
    }
  }
}
