.info-section{
  margin: 80px auto 0;
}

.info-container{
  background-color: $sand-light;
  border-radius: 6px;
  padding: 35px;
  margin: 20px 0 0 -35px;
  width: calc(100% + 70px);

  &.small-items{
    padding-bottom: 0;
  }
}

.info-section.empty{
  color: $sand-xxdark;
}
.info-section.empty .value{
  color: $sand-dark;
}

.small-info-item{
  display: inline-block;
  margin: 0 0 35px;
  width: 33%;
}

.small-info-item .value{
  font-size: $sans-size-base;
}

.small-info-item .label{
  font-size: $sans-size-s;
  margin: 8px 0 0;
}

.info-section-row{
  background-color: $sand-light;
  border-radius: 8px;
  margin: 20px 0;
  padding: 20px;
}

.info-section-label{
  font-size: $sans-size-base;
}

.info-section-value{
  float: right;
  font-variant-numeric: tabular-nums;
  font-size: $sans-size-base;
}

.info-section td.info-section-number {
  font-variant-numeric: tabular-nums;
  font-size: $sans-size-xl;
  text-align: right;
}