.inline-button{
  border-radius: 0.2em;
  display: inline-block;
  height: 1.5em;
  margin: -0.25em 0;
  padding: 0.25em;
  vertical-align: top;
  width: 1.5em;

  &:hover{
    background-color: $sand;
  }

  .icon {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: top;
    width: 1em;
  }
}
