.metric-header{
  border: 2px solid $blue-light;
  border-radius: 12px;
  margin: 0 auto 60px;
  padding: 30px 30px 30px 90px;
  position: relative;
  width: 100%;

  .icon{
    display: inline-block;
    left: 28px;
    position: absolute;
    top: 22px;
  }

  .label{
    display: inline-block;
  }

  .value{
    display: inline-block;
    float: right;
  }
}