.network-widget{
  position: fixed;
  right: 64px;
  top: 10px;
  z-index: 1;
}

.network-widget-button{
  background: $sand-light;
  border: 1px solid $sand-dark;
  border-radius: 10px;
  color: $purp-dark;
  display: inline-block;
  height: $widget-button-height;
  font-size: $sans-size-xs;
  line-height: $widget-button-height;
  min-width: 160px;
  text-align: left;
  outline: none;
  padding: 0 18px;

  &:hover{
    background: $sand;
  }

  &.error{
    background-color: $red-xlight;
    min-width: auto;
  }

  &.success .success-indicator,
  &.success .success-indicator .icon{
    -webkit-animation: fadeInAndOut 4s;
    -moz-animation: fadeInAndOut 4s;
    -o-animation: fadeInAndOut 4s;
    animation: fadeInAndOut 4s;
  }

  .status-icon{
    margin: 0 10px 0 0;
  }

  .indicator{
    margin-top: 14px;
  }

  .spinner{
    margin-top: 10px;
  }

  .success-indicator{
    background-color: $blue;
    border-radius: 10px;
    color: white;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    visibility: hidden;

    & .icon{
      height: 18px;
      margin: 0 10px 4px 0;
      vertical-align: middle;
      visibility: hidden;
      width: 18px;
    }

    & .icon path{
      fill: $sand-xlight;
    }
  }

  &.bold{
    background-color: $blue-xlight;
    text-align: center;
  }

  &.bold:hover{
    background-color: $blue-light;
  }

  &.disabled,
  &.disabled:hover{
    background-color: $blue-xxlight;
    text-align: center;
  }
}

.network-widget-info{
  background-color: $sand-xlight;
  border-top: 1px solid $sand;
  box-shadow: 0px 10px 15px rgba(180, 173, 167, 0.3);
  display: none;
  font-size: $sans-size-xs;
  line-height: 1.2;
  margin: 12px 0 0 0;
  position: fixed;
  right: 0;
  width: 100%;
}

.network-widget.open{
  .network-widget-button{
    background: $sand;
  }

  .network-widget-button.error{
    background: $red-xlight;
  }

  .network-widget-info{
    display: block;
  }
}

.network-widget-section{
  border-top: 1px solid $sand;
  padding: 20px;

  &:first-of-type{
    border-top: none;
  }

  &.address{
    font-size: $sans-size-s;
    font-weight: 500;
    padding: 24px 20px;
  }

  .value{
    float: right;
  }
}

.network-widget-header{
  margin: 0 0 20px;

  a {
    color: $purp-dark;
    float: right;
    opacity: 0.4;
  }

  a:hover{
    opacity: 1;
  }
}

.agree-to-terms{
  margin: 0 0 22px;

  p{
    margin: 0 0 10px;
    position: relative;
  }

  p.agree-item{
    padding: 0 0 0 17px;
  }

  p.agree-item::before{
    content: '\2022';
    position: absolute;
    left: 2px;
  }

  a{
    color: $blue-dark;
  }

  a:hover{
    text-decoration: underline;
  }
}

.network-widget .error-items{
  padding: 0px 20px 20px;
}

.network-widget .error-item{
  background-color: $red-xlight;
  border-radius: 8px;
  padding: 12px;
  position: relative;
}

.network-widget .error-item ~ .error-item{
  margin-top: 12px;
}

.network-widget .error-label{
  color: $red-dark;
  margin: 0 0 10px;
}

.network-widget .dismiss-error-item{
  background: none;
  cursor: pointer;
  display: inline-block;
  opacity: 0.5;
  padding: 8px;
  position: absolute;
  right: 4px;
  top: 4px;

  &:hover{
    opacity: 1;
  }

  .icon {
    height: 14px;
    width: 14px;
  }

  .icon path{
    fill: $red-dark;
  }
}

.network-widget .transaction-item{
  color: $blue;
  margin: 16px 0 0 0;

  .status-icon{
    vertical-align: middle;
    margin: 0 10px 2px 3px;
    width: 12px;
  }

  &.pending .status-icon{
    margin: -10px 15px -6px -2px;
  }

  .small-network-message{
    font-size: smaller;
  }

  .transaction-link{
    border-radius: 3px;
    float: right;
    height: 22px;
    margin: -4px 0 0 0;
    padding: 5px;
    vertical-align: top;
    width: 22px;

    &:hover{
      background-color: $blue-xxlight;
    }

    .icon{
      height: 12px;
      width: 12px;
      vertical-align: top;
    }

    .icon path{
      fill: $blue;
    }
  }
}

.network-widget .transaction-item.error{
  color: $red-dark;
}

.network-widget-info .button{
  border-radius: 8px;
  font-size: $sans-size-xs;
  line-height: $widget-button-height;
  width: 100%;
}


@media only screen and (min-width: 400px) {
  .network-widget-info{
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(180, 173, 167, 0.45);
    position: absolute;
    right: 0;
    width: 300px;
  }
}


@media only screen and (min-width: $screen-m) {
  .network-widget{
    right: 18px;
    top: 15px;
  }

  .network-widget-button{
    border: none;
  }
}
