.pool-links {
  font-size: $sans-size-xs;
  margin: 34px 0 0px;

  a,
  button {
    border-radius: 4px;
    color: $purp-dark;
    margin: 0 16px 0 -9px;
    padding: 6px 9px;

    path {
      fill: $purp-dark;
    }

    &:hover {
      background-color: $sand;
    }
  }

  .icon {
    display: inline-block;
    height: 12px;
    margin: 2px 0 0 4px;
    vertical-align: top;
    width: 12px;
  }
}

.placeholder .pool-links {
  a,
  button {
    color: $sand-xdark;
  }

  a,
  button path {
    fill: $sand-xdark;
  }
}

@media only screen and (min-width: $screen-l) {
  .pool-links {
    margin: 40px 0 0px;
  }
}
