.pools-list {
  margin-top: 0px;
  margin-bottom: 0px;

  .title {
    color: $purp-dark;
  }

  .pool-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include space-x(0.75em);

    .pixelated {
      image-rendering: pixelated;
    }

    .icon {
      margin-left: -0.4em;
      object-fit: contain;
      background-color: $sand-xlight;
      border-radius: 50%;
      width: 45px;
      height: 45px;
    }
  }

  .name {
    width: 100%;
  }

  .subheader {
    font-size: $sans-size-xs;
    color: $purp-light;
    display: block;
    margin: 5px 0 -3px;
    padding: 0 0 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 480px), only screen and (min-width: $screen-m) and (max-width: 750px) {
  .table-spaced.pools-list {
    .numeric,
    .date {
      display: none;
    }

    .table-cell:first-child {
      width: 70%;
    }
    .table-cell:last-child {
      width: 30%;
    }
  }
}

.disabled {
  color: $sand-xxdark;
}

@media only screen and (min-width: $screen-l) {
  .pools-list .subheader {
    font-size: $sans-size-s;
  }
}
