.pools-list {
  margin-top: 0px;
  margin-bottom: 0px;

  .title {
    color: $purp-dark;
  }

  .pool-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include space-x(0.75em);

    .pixelated {
      image-rendering: pixelated;
    }

    .icon {
      margin-left: -0.25em;
      object-fit: contain;
      background-color: $sand-xlight;
      border-radius: 50%;
      width: 45px;
      height: 45px;
    }
  }

  .subheader {
    font-size: $sans-size-xs;
    color: $purp-light;
    display: block;
    margin: 5px 0 0;
  }

  .view-button {
    background-color: $sand;
    border-radius: 6px;
    color: $purp-dark;
    font-size: $sans-size-xs;
    outline: none;
    padding: 8px 12px;

    &:hover {
      background-color: $sand-dark;
    }
  }
}

@media only screen and (max-width: 480px), only screen and (min-width: $screen-m) and (max-width: 750px) {
  .table-spaced.pools-list {
    .numeric,
    .date {
      display: none;
    }

    .table-cell:first-child {
      width: 70%;
    }
    .table-cell:last-child {
      width: 30%;
    }
  }
}

.disabled {
  color: $sand-xxdark;
}

@media only screen and (min-width: $screen-m) {
}

@media only screen and (min-width: $screen-l) {
  .pools-list .subheader {
    font-size: $sans-size-s;
  }
}
