.status-icon{
  display: inline-block;
  position: relative;
}

.status-icon .indicator{
  background-color: $blue;
  border-radius: 5px;
  height: 10px;
  width: 10px;
}

.status-icon .spinner{
  opacity: 0;
  position: absolute;
  transition: none;
  vertical-align: top;
}

.pending .status-icon .spinner{
  opacity: 1;
  position: relative;
}

.pending  .status-icon .indicator{
  opacity: 0;
  position: absolute;
}

.error .status-icon .indicator{
  background-color: $red
}
