.background-container.table-spaced{
  background-color: transparent;

  .table-header{
    background-color: transparent;
  }

  .table-row{
    background-color: $sand-light;
  }
}

.table-spaced{
  font-size: $sans-size-xs;

  .table-header{
    align-items: flex-end;
    color: $sand-xxdark;
    display: flex;
    margin-bottom: 12px;
  }

  .table-row{
    border-radius: inherit;
    align-items: center;
    display: flex;
    margin-bottom: 16px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .table-cell.col16{ width: 16% }
  .table-cell.col22{ width: 22% }
  .table-cell.col40{ width: 40% }

  .numeric{
    text-align: right;
  }

  .date{
    text-align: center;
  }

  button{
    background-color: $sand;
    border-radius: 4px;
    float: right;
    font-size: $sans-size-xs;
    padding: 8px 14px;

    &:hover{
      background-color: $sand-dark;
    }
  }
}


@media only screen and (min-width: $screen-m) {
  .table-spaced .table-row{
    font-size: $sans-size-s;
  } 
}


@media only screen and (min-width: $screen-l) {
  .table-spaced{
    .table-header{
      font-size: $sans-size-s;
      margin-bottom: 20px;
    }
    
    .table-row{
      font-size: $sans-size-base;
      padding-top: 26px;
      padding-bottom: 26px;
      margin-bottom: 24px;
    }

    button{
      font-size: $sans-size-s;
      padding: 10px 18px;
    }
  } 
}
