.table{
  font-size: $sans-size-xs;
  text-align: left;
  width: 100%;

  .empty-row{
    color: $sand-xxdark;
    width: 100%;
  }

  tr{
    border-bottom: 2px solid $sand-light;
  }

  thead tr{
    border-bottom: 2px solid $purp;
  }

  td{
     padding: 20px 0;
  }

  th{
    padding: 0 0 14px;
  }

  .numeric{
    text-align: right;
  }
}

.background-container .table{
  tr{
    border-bottom: 2px solid $sand;
  }
  thead tr{
    border-bottom: 2px solid $purp;
  }
}

.placeholder.table thead tr,
.placeholder .table thead tr,
.background-container.placeholder .table thead tr{
  border-bottom: 2px solid $sand;
}


@media only screen and (min-width: $screen-l) {
  .table{
    font-size: $sans-size-s;

    td{
      padding: 24px 0;
    }
  }
}
