.value-option{
  font-size: $sans-size-s;
  margin: 0 0 18px;
  position: relative;

  input{
    position: absolute;
    visibility: hidden;
  }

  .font-bold{
    font-weight: bold;
  }

  input ~ .radio-check{
    border: 2px solid $purp;
    border-radius: 100%;
    height: 14px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 14px;
  }

  input:checked ~ .radio-check{
    background-color: $purp-dark;
    border: none;
  }

  label{
    display: inline-block;
    padding-left: 26px;
    position: relative;
    cursor: pointer;
  }
}

@media only screen and (min-width: $screen-l) {
  .value-options{
    margin-bottom: 40px;
  }

  .value-option{
    font-size: $sans-size-m;
    margin: 0 0 20px;

    input ~ .radio-check{
      height: 16px;
      top: 2px;
      width: 16px;
    }

    label{
      padding-left: 30px;
    }
  }
}
