// Colors
$sand-xxdark: #B4ADA7;
$sand-xdark:  #C3BEB7;
$sand-dark:   #D6D1CC;
$sand:        #E4E0DD;
$sand-light:  #F1EFED;
$sand-xlight: #F8F6F4;

$purp-dark:    #483E5E;
$purp:         #675B81;
$purp-light:   #897DA3;
$purp-xlight:  #ADA5BF;
$purp-xxlight: #D1CCDB;

$blue-dark:    #67AFD7;
$blue:         #75C1EB;
$blue-light:   #96D3F5;
$blue-xlight:  #B6E4FE;
$blue-xxlight: #DDEFFA;

$red-xlight:   #FAE6DE;
$red:          #E4AF98;
$red-dark:     #CC937A;

// Type
$sans-size-xs:   15px;
$sans-size-s:    18px;
$sans-size-m:    21px;
$sans-size-base: 24px;
$sans-size-ml:   28px;
$sans-size-l:    32px;
$sans-size-xl:   36px;
$sans-size-xxl:  48px;

// Widths
$screen-s: 350px;
$screen-m: 600px;
$screen-l: 900px;

$content-max-width: 750px;
$nav-width: 180px;

// Heights
$widget-button-height: 40px;
