// Colors
$sand-xxdark: #B4ADA7;
$sand-xdark:  #C3BEB7;
$sand-dark:   #D6D1CC;
$sand:        #E1DDDA;
$sand-light:  #EDEAE7;
$sand-xlight: #F8F6F4;

$purp-dark:    #483E5E;
$purp:         #675B81;
$purp-light:   #897DA3;
$purp-xlight:  #ADA5BF;
$purp-xxlight: #D1CCDB;

// Type
$sans-size-xs:   15px;
$sans-size-s:    18px;
$sans-size-m:    21px;
$sans-size-base: 24px;
$sans-size-xl:   36px;
$sans-size-xxl:  48px;

// Width
$content-max-width: 650px;

$screen-xs: 576px;
$screen-sm-min: 768px;
$screen-sm-max: 992px;
$screen-md-max: 1280px;
