@import './utils.scss';

.verify-options {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  @include space-x(1em);

  .item {
    flex-grow: 1;
    flex-basis: 0;

    button {
      width: 100%;
    }
  }
}

.verify {
  padding-left: 2em;
  padding-right: 2em;
}

.link {
  text-decoration: underline;
  color: $sand-xxdark;
}
